

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fff6ed;
}



.header {
  color: #4b0082;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.subheader{
  color: #6a3c19;
  .playwrite-mx-guides-regular {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.container{
  color: #000000;
  width: 100%;
  margin: 0 auto;
  .playwrite-mx-guides-regular {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 800;
    font-style: normal;
  }
  
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.introduction{
  color: #6a3c19;
  width: 50%;
  margin: 0 auto;
  .playwrite-mx-guides-regular {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 300;
    font-style: normal;
  }
  font-weight: 350;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}


.title{
  color: #653915;
  width: 100%;
  margin: 0 auto;
  .playwrite-mx-guides-regular {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 800;
    font-style: normal;
  }
  
  font-size: 3rem;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  cursor: pointer;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.upload-buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gender-button{
  /* padding: 8px 600px;    top/bottom 8px, left/right 16px */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 8px 42%;    

  align-items: center;
}



.upload-button {
  background-color: #8b5610;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 100px;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.upload-button:hover {
  background-color: #483206;
  transform: translateY(-1px);
}

.upload-button:active {
  background-color: #3e7e8e;
  transform: translateY(0);
}

.selected-button {
  background-color: #483206;
  transform: translateY(-1px);
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 100px;
  
  /* align-items: center; */
  /* margin-left: auto;
  margin-right: auto; */
}


.unselected-button {
  background-color: #8b5610;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 100px;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.results{
  text-align: center;
}

