.header {
    background-color: #d1a77d;
    padding: 1px 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headeadds {
    background-color: #efce3d;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    text-decoration: none; /* Removes underline */
    color: #7a431c; /* Change this to whatever color you want */
    font-weight: bold; /* Optional: make it stand out */
  } 

  .link:hover {
    color: #431d09; /* Optional: slightly darker on hover */
  }